// Mixins
@mixin transition($args...) {
  transition: $args;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Variables
$white: #fff;
$black: #000;
$primary-red: #b52d2d;
$nav-bg: #af2b2b; // rgb(175,43,43)
$hover-red: #880000;
$bg-grey: #ebebeb;
$button-hover: #11b31f;

// Reset y estilos globales
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $white;
  font-family: "Poppins", serif;
}

// Navegación
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $nav-bg;
  color: $white;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      a {
        text-decoration: none;
        font-size: 1.2em;
        color: $white;
        @include transition(background-color 0.3s ease-in-out, transform 0.2s);
        margin-right: 1rem;
        padding: 1rem;

        &:hover {
          background-color: $hover-red;
          border-radius: 5px;
          transform: scale(1.1);
        }
      }
    }
  }
}

// Opciones de navegación con clase .navbar-nav
.navbar-nav {
  .nav-link {
    font-size: 1.2em;
    @include transition(background-color 0.3s ease-in-out, transform 0.2s);
    margin-right: 1rem;
    padding: 1rem;

    &:hover {
      background-color: $hover-red;
      border-radius: 5px;
      transform: scale(1.1);
    }

    &.active {
      background-color: $white !important;
      color: $primary-red !important;
      border-radius: 5px;
      font-weight: bold;
    }
  }
}

// Logo
.logo {
  @include flex-center;
  height: auto;
  width: 2rem;

  img {
    height: 3rem;
    display: block;
  }
}

// Títulos
h2 {
  color: $primary-red;
  font-size: 2rem;
}

// Sección Hero e índices
.hero,
.hero-index {
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $white;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
}

.hero-index {
  background-image: url('../img/people-restaurant.jpg');
}

.hero {
  background-image: url('../img/elegant-restaurant.jpg');
}

.hero-content {
  position: relative;
  z-index: 1;

  h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
  }

  p {
    font-size: 1.5rem;
    width: 60%;
    margin-left: 20%;
  }
}

// Botón general
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: $primary-red;
  color: $white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  @include transition(all 0.3s ease-in-out);

  &:hover {
    background-color: #7e1e1e;
    transform: scale(1.05);
  }
}

// Contenedores e imágenes
.contenedor {
  display: flex;
  justify-content: space-between;
}

.contder {
  width: 40%;
  height: 60vh;
  text-align: center;
  margin-right: 3rem;
}

.contizq {
  width: 55%;
  height: 100%;
  text-align: center;
  margin-top: 3rem;
}

.imgizq {
  width: 80%;
  height: 50vh;
  border-radius: 20px;
  margin-top: 8rem;
  object-fit: cover;
  border: 1px solid $black;
}

.imgder {
  margin-top: 11rem;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  border: 1px solid $black;
}

// Iconos
.wp {
  height: 5vh;
  width: 5vh;
}

.yt,
.gm {
  height: 4vh;
  width: 5vh;
}

// Redes sociales
.redes {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: rgb(238, 142, 142);

  a {
    top: 0;
    margin: 2rem;
  }
}

// Sección inferior
.contbot {
  margin-top: 15rem;
  text-align: center;
  background-color: $bg-grey;
  height: 45rem;

  img {
    width: 50%;
    height: 40vh;
    margin: 5em;
    object-fit: cover;
    border-radius: 10%;
    border: 1px solid $black;
  }

  p,
  h2 {
    text-align: center;
  }
}

// Explore Restaurants
.explore-restaurants {
  text-align: center;
  padding: 50px;
  background-color: $primary-red;
  color: $white;

  .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: $white;
    color: $primary-red;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    @include transition(0.3s);

    &:hover {
      background-color: #7e1e1e;
      color: $white;
    }
  }
}

// Títulos y Portadas
.titulo {
  text-align: center;
}

.portada2 {
  text-align: center;

  img {
    width: 50%;
    height: 50vh;
  }
}

.contenedor2 {
  display: flex;
}

.info {
  text-align: center;
  width: 45%;
  margin: 5rem;
}

.caja1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.feed {
  width: 25%;
  margin: 3em;
}

.contact {
  width: 60%;
  margin-top: 3rem;
  margin-left: 5rem;
}

// About Intro
.about-intro {
  text-align: center;
  padding: 50px;
  margin: 10%;

  h1 {
    font-size: 2.5rem;
    color: $primary-red;
  }

  p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
  }
}

// How It Works
.how-it-works {
  background-color: $white;
  padding: 80px 0;
  text-align: center;
  margin: 5%;

  h2 {
    font-size: 2.2rem;
    color: $primary-red;
    margin-bottom: 40px;
  }

  .steps {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .step {
    margin: 1rem;
    width: 25%;
    min-width: 250px;
    background-color: $bg-grey;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);

    h3 {
      font-size: 1.5rem;
      color: $primary-red;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.1rem;
      color: #444;
    }
  }
}

// Benefits
.benefit {
  text-align: center;
  background-color: $bg-grey;
  padding: 2rem;
  width: 27%;
  margin: 2rem;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

  h3 {
    font-size: 1.5rem;
    color: $primary-red;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.1rem;
    color: #444;
  }
}

.benefits {
  text-align: center;
  padding: 1rem;
  background-color: $bg-grey;

  .benefit-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2%;
  }

  .benefit {
    img {
      width: 100%;
      height: 30vh;
      margin-bottom: 2rem;
      object-fit: cover;
      border-radius: 5%;
      border: 2px solid $black;
    }
  }
}

// Restaurant List & Card
.restaurant-list {
  display: grid;
  grid-template-columns: 30% repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 5rem;
  padding: 3rem;
  gap: 5rem;
}

.restaurant-card {
  display: inline-block;
  width: 80%;
  height: 50%;
  background-color: $white;
  border-radius: 3%;
  box-shadow: 2px 2px 10px rgb(247, 96, 96);
  text-align: center;
  margin: 3rem;

  &:hover {
    transform: scale(1.03);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  h3 {
    font-size: 1.5rem;
    color: $primary-red;
    margin-top: 10px;
  }

  p {
    font-size: 1rem;
    color: #444;
    margin-top: 5px;
  }

  .btn {
    background-color: $primary-red;
    color: $white;
    text-decoration: none;
    border-radius: 5px;

    &:hover {
      background-color: green;
      color: $white;
      @include transition(2s);
    }
  }
}

// Page Title
.page-title {
  text-align: center;
  padding: 5rem;
  background-color: $primary-red;
  color: $white;
  height: 15rem;
  align-content: center;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
  }
}

// Featured Restaurants
.featured-restaurants {
  text-align: center;
  padding: 60px 20px;
  background-color: $white;
  margin-bottom: 40px;

  h1 {
    font-size: 2.5rem;
    color: $primary-red;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
    color: #444;
    max-width: 800px;
    margin: 0 auto 30px auto;
  }
}

// Restaurant Map
.restaurant-map {
  text-align: center;
  padding: 60px 20px;
  background-color: $bg-grey;
  margin-bottom: 40px;

  h1 {
    font-size: 2.5rem;
    color: $primary-red;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
    color: #444;
    max-width: 800px;
    margin: 0 auto 30px auto;
  }

  iframe {
    width: 100%;
    max-width: 900px;
    height: 450px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
}

// Opiniones y Reviews
.opiniones {
  text-align: center;
  font-size: 2.5rem;
  color: $primary-red;
  margin-bottom: 10px;
}

.customer-reviews {
  display: flex;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    color: $primary-red;
    margin-bottom: 20px;
  }
}

.review {
  width: 45%;
  background-color: #f8f8f8;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
  text-align: center;
  margin: 3rem;
  height: 30vh;

  img {
    width: 150px;
    height: 60%;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    color: #444;
    margin-bottom: 10px;
  }

  strong {
    font-size: 1.1rem;
    color: $primary-red;
  }
}

// Contacto
.contact-header {
  text-align: center;
  background-color: $primary-red;
  color: $white;
  padding: 5rem;
  height: 15rem;
  align-content: center;

  h1 {
    color: $white;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }

  p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
  }
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
}

.contact-form {
  background-color: $white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
  width: 45%;
  min-width: 350px;

  fieldset {
    border: none;
  }

  label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: $primary-red;
    color: $white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    @include transition(background-color 2.5s);

    &:hover {
      background-color: $button-hover;
    }
  }
}

.contact-info {
  background-color: $white;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
  width: 45%;
  min-width: 350px;
  text-align: center;

  h2 {
    font-size: 1.8rem;
    color: $primary-red;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
    color: #444;
    margin: 10px 0;
  }
}

// Restaurant Card Blog
.restaurant-cardblog {
  display: inline-block;
  background-color: $white;
  border-radius: 3%;
  box-shadow: 2px 2px 10px rgb(247, 96, 96);
  text-align: center;
  margin: 3rem;
  padding: 1rem;
  width: 30%;

  &:hover {
    transform: scale(1.03);
  }

  img {
    width: 90%;
    object-fit: cover;
    border-radius: 3%;
  }

  h3 {
    font-size: 1.5rem;
    color: $primary-red;
    margin-top: 10px;
  }

  p {
    font-size: 1rem;
    color: #444;
    margin-top: 5px;
  }

  .btn {
    display: inline-block;
    margin-top: 2rem;
    background-color: $primary-red;
    color: $white;
    text-decoration: none;
    border-radius: 5px;

    &:hover {
      background-color: green;
      color: $white;
      @include transition(2s);
    }
  }
}

// Media Queries
@media screen and (max-width: 1084px) {
  .contenedor {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contizq,
  .contder {
    width: 90%;
    margin-bottom: 8rem;
  }
  .imgizq,
  .imgder {
    width: 100%;
  }
  .benefit {
    width: 80%;
    padding: 2rem;
    font-size: 1.2rem;
  }
  .benefit img {
    width: 80%;
    height: auto;
  }
  .benefit-list {
    flex-direction: column;
    align-items: center;
  }
  .restaurant-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 2rem;
  }
  .restaurant-card {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
  }
  .restaurant-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

@media screen and (max-width: 768px) {
  .contizq img {
    width: 90%;
  }
  .contder {
    width: 80%;
    height: 100%;
    align-content: center;
    margin: 0;
  }
  .contbot {
    align-content: center;
    padding: 1rem;
  }
  .contbot img {
    width: 90%;
    margin: 1rem;
  }
  .restaurant-list {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .restaurant-card {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
  }
  .restaurant-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .benefit {
    margin: 1rem;
  }
  .benefits img {
    width: 100%;
  }
  .page-title {
    height: 30rem;
    padding: 0;
  }
  .restaurant-cardblog {
    width: 80%;
    margin: 1rem;
  }
  .customer-reviews {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .review {
    width: 100%;
    height: 30rem;
  }
  .hero-content p {
    width: 100%;
    align-content: center;
    margin: 0;
  }
  .featured-restaurants {
    padding: 0;
    margin-top: 5rem;
  }
  .contact-header {
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}